html {
	height: 100vh;
}
body {
	height: 100%;
	display: flex;
	flex-direction: column;
}
.full-block {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.page-wrapper {
	flex: 1 0 auto;
}
.footer {
	flex-shrink: 0;
}

.header-top {
	background-color: #f5f206;
	background-color: #ffe10b;
	background-color: #02d86b; /*#f5f206 #ffe10b*/
}

.header-top .container {
	display: flex;
	justify-content: space-between;
	overflow: hidden
}

.header-top__left {
	float: left
}

.header-top .menu {
	display: flex;
	margin: 0;
	padding: 0
}

.header-top li {
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 0
}

.header-top li:last-child {
	margin-right: 10px
}

.header-top .menu a {
	display: block;
	padding: 8px 0;
	text-transform: uppercase;
	font-size: 10px;
	line-height: 14px;
	letter-spacing: .5px;
	text-decoration: none;
	color: rgba(255, 255, 255, .9)
}

.header .header-top .menu .current-menu-item a,
.header .header-top .menu a:hover {
	color: #333
}

.header-middle .logo-wrap {
	position: relative;
}

.header-top__right {
	float: right;
	display: flex;
	align-items: center;
	justify-content: space-between
}

.header-mob {
    display: none;
}

.social-icons {
	display: flex;
	justify-content: center;
	align-items: center
}

.header-top .social-icons {
	margin-left: 5px;
	margin-right: -3px;
	margin-top: -2px
}

.social-icons a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 21px;
	height: 21px;
	margin: 3px;
	text-align: center;
	padding: 0;
	cursor: pointer;
	color: #fff;
	transition: all .15s ease-in 0s
}

.social-icons a:hover {
	color: #333
}

.header-middle {
	position: relative
}

.header-middle.fixed:before {
	content: '';
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 8px;
	background-color: #231f20
}

.header-middle-wrap {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 5px 0;
	justify-content: space-between
}

.header-middle .header-middle-wrap>* {
	width: 33%;
	float: left
}

.header-middle .logo {
	height: 12rem;
}
.header-middle .logo img {
	height: 100%;
}

.header-bottom {
	position: relative;
	width: 100%;
	z-index: 1
}

.header-main-menu {
	border-top: 2px solid #e1e1e1;
	transition: border-color .25s ease-in-out
}

.header-main-menu:hover {
	border-color: #231f20
}

.header-main-menu>ul {
	list-style: none;
	position: relative;
	display: table;
	display: flex;
	flex-wrap: nowrap;
	width: 100%;
	text-align: center
}

.header-main-menu>ul>li {
	position: relative;
	margin-bottom: 0;
	width: 6.2%
}

.header-main-menu ul>li.menu-icon-menulist a:hover {
    background-color: #ffecf4;
}
.header-main-menu ul>li.menu-item a:hover {
    color: #333;
    background-color: #f1f1f1;
    border-bottom-color: #ffbc02;
}
.header-main-menu ul>li>a {
    border-bottom: 3px solid #fff;
}
.header-main-menu ul>li a {
    position: relative;
    display: block;
    padding: 5px 2px;
    color: #333;
    font-size: 11px;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    transition: color .25s ease-in-out,background-color .25s ease-in-out;
    white-space: nowrap;
    letter-spacing: .5px;
}

.header-main-menu .menu-icon {
	padding-top: 55px
}

.header-main-menu .menu-icon>a:before {
	content: '';
	position: absolute;
	top: -55px;
	left: 0;
	height: 55px;
	width: 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	transition: background-color .25s ease-in-out
}

.header-main-menu .menu-icon-menulist>a:before {
	background-image: url(../../../../../../../../themes/rollclub/assets/images/icons/icon-menu-list.svg);
	background-size: 38%
}

.header-main-menu .menu-icon-pizza>a:before {
	background-image: url(../../../../../../../../themes/rollclub/assets/images/menu-icons/menu-icon-pizza.svg)
}

/* Footer */
.footer {
	position: relative;
	padding: 1.5rem 0;
	color: #fff;
	font-size: .8125rem;
	background: #231f20
}

/* Front page */
/* Cuisine panel */
.cuisine-container {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	align-content: space-between;
	flex-wrap: wrap;
}

.cuisine-item {
	/*height: 25rem;*/
	width: 20rem;
	margin: 0 3rem 3rem 0;
}

.cuisine-item .image {
	height: 20rem;
	width: 20rem;
}

.cuisine-item .image img {
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border-width: 6px;
	border-style: solid;
	border-color: #001d0847;
}

.cuisine-item .title {
	display: block;
	font-size: 1.5rem;
	text-align: center;
	color: #444;
	margin-top: 2rem;
	white-space: normal;
    text-transform: uppercase;
}

.cuisine-item .hint {
	display: none;
}

@media (max-width:1199px) {
	.header-top li {
		margin-right: 15px
	}
	.header-bottom .container {
		padding: 0
	}
}

@media (max-width:992px) {
    .header-top {
		display: none
	}
    .header-mob {
		display: block;
		position: fixed;
		z-index: 1000;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		background-color: #f03015
    }
    .header-mob-wrap {
		display: flex;
		justify-content: space-between;
		margin-left: -1rem;
		margin-right: -.75rem
	}
	
	.header-middle .logo-wrap {
		display: none
	}
	.header-middle-wrap {
		height: 0;
		margin: 0;
		padding: 0
	}
	.header-bottom {
		display: none
	}
}